---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <main class="w-full md:max-w-7-xl min-h-screen flex px-10 mx-auto items-center justify-center">
    <div class="flex flex-col items-center">
      <h2 class="font-merriweather font-bold text-white text-4xl w-fit">
        The page you have requested, not exist!
      </h2>
      <a class="w-36 text-center py-2 bg-blue-500 text-white font-merriweather font-bold mt-2 shadow-sm shadow-slate-300 cursor-pointer transition-transform duration-300 hover:scale-95 hover:shadow-black hover:bg-transparent hover:backdrop-blur-sm" href="/">Back to Home</a>
    </div>
  </main>
</Layout>