---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../layouts/Main.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Adrian Rangel">
	<Main>
		<Hero /> 
	</Main>
</Layout> 

