---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.svelte';
---

<Layout title="Adrian Rangel">
	<Header client:load />
	<main class="w-full md:max-w-7xl min-h-screen flex flex-col px-10 mx-auto">

	</main>
</Layout> 

