---
import { skills } from "../data/skills";
---

<section class="w-full h-[560px] flex justify-between relative mt-20">
  
  <div id="item" class="w-full">
    <h3 class="font-bold font-merriweather text-4xl text-white mb-3">About me</h3>
    <p class="font-work text-slate-400 text-xl leading-7 md:w-[540px]">
      I am a computer engineering student, self-taught frontend and lover of the JavaScript ecosystem.
      Passionate about code, technology and development; adaptable and persevering, curious since I can remember and always looking for new things to learn. <br><br>
      I usually develop projects that are impactful and useful, as well as small practice projects that help me to continue increasing my coding skills.
    </p>
  </div>

  <div id="item" class="w-full text-left">
    <h3 class="font-bold font-merriweather text-4xl text-white">Skills</h3>
    <ul class="flex list-none flex-wrap gap-10 pt-4">

    </ul>
  </div>
</section>

