---
const stringDev = '<adr/dev>';
---

<header class="w-full fixed top-0 right-0 py-6 px-8 flex items-center justify-between border-2 border-white">
  <h1 class="mr-10 font-bold font-merriweather text-xl text-yellow-400 w-fit">
    <a href="/">{stringDev}</a>
  </h1>
  <div class="flex space-x-6">
    <a class="link" href="#">Projects</a>
    <a class="link" href="#">Contact</a>
    <a class="link" href="#">Download</a>
  </div>
</header>

