---
	const stringDev = '<adr/dev>';
---


<header class="w-full relative py-6 px-8 md:px-12 flex items-center justify-between border-white">
	<h1 class="font-bold font-merriweather text-xl text-yellow-400 w-fit">
		<a class="transition-all duration-300 hover:bg-clip-text hover:bg-gradient-to-tl hover:from-purple-800 hover:via-purple-600 hover:to-rose-600 hover:text-transparent" href="/">{stringDev}</a>
	</h1>

	<nav 
    id="nav"
		class="transition-transform absolute top-0 left-0 md:relative flex flex-col items-center justify-center md:flex-row space-y-6 md:space-y-0 md:space-x-6 text-center w-full h-screen md:h-fit md:w-fit bg-white md:bg-transparent bg-opacity-10 backdrop-blur-lg -translate-y-full md:translate-y-0">
		<button id="close" class="font-bold text-white top-10 right-10 absolute md:hidden">
      close
    </button>
		<!-- svelte-ignore a11y-invalid-attribute -->
		<a class="link" href="#">Projects</a>
		<!-- svelte-ignore a11y-invalid-attribute -->
		<a class="link" href="#">Contact</a>
		<!-- svelte-ignore a11y-invalid-attribute -->
		<a class="link" href="#">Download CV</a>
	</nav>

	<button id="open" class="font-bold text-white md:hidden">open</button>
</header>


<script>
  let navElement = document.getElementById('nav');
  let buttonOpen = document.getElementById('open');
  let buttonClose = document.getElementById('close');
  

  function showNavbar() {
    if (navElement.classList.contains('-translate-y-full')) {
      navElement.classList.replace('-translate-y-full', 'translate-y-0');
    }
  }

  function closeNavbar() {
    if (navElement.classList.contains('translate-y-0')) {
      navElement.classList.replace('translate-y-0', '-translate-y-full');
    }
  }

  buttonOpen.onclick = showNavbar;
  buttonClose.onclick = closeNavbar;
</script>