---
import HeroLeft from "./HeroLeft.astro";
import HeroRight from "./HeroRight.astro";
---

<section class='w-full md:max-w-7xl mt-28 md:mt-36 lg:mt-48 flex flex-col md:flex-col lg:flex-row justify-between md:px-10 lg:px-12'>
	<HeroLeft />
  <HeroRight />
</section>
