---
---

<div class="flex flex-col md:flex-row lg:flex-col justify-center space-y-6 md:space-y-0 md:space-x-6 lg:space-y-9 mt-3 lg:mt-0 w-full lg:w-fit items-center p-8">
  <a class="link" href="#">About</a>
  <a class="link" href="#">Projects</a>
  <a class="link" href="#">Contact</a>
</div>