---
import HeroLeft from "./HeroLeft.astro";
import HeroRight from "./HeroRight.astro";
---

<section class="w-full h-full mt-7 md:mt-0 md:h-[540px] flex flex-col-reverse md:flex-col lg:flex-row md:items-center md:justify-between relative">
  <HeroLeft />
  <HeroRight />
</section>