---
import JavaScriptIcon from "../icons/JavaScriptIcon.astro";
import TypeScriptIcon from "../icons/TypeScriptIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import SvelteIcon from "../icons/SvelteIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import NodeJSIcon from "../icons/NodeJSIcon.astro";
import ExpressIcon from "../icons/ExpressIcon.astro";
import GitIcon from "../icons/GitIcon.astro";
import MotionIcon from '../icons/MotionIcon.astro';
---

<ul class="flex md:flex-row list-none flex-wrap gap-10 pt-4">
  <li>
    <JavaScriptIcon />
  </li>
  <li>
    <TypeScriptIcon />
  </li>
  <li>
    <ReactIcon />
  </li>
  <li>
    <SvelteIcon />
  </li>
  <li>
    <AstroIcon />
  </li>
  <li>
    <TailwindIcon />
  </li>
  <li>
    <NodeJSIcon />
  </li>
  <li>
    <ExpressIcon />
  </li>
  <li>
    <GitIcon />
  </li>
  <li>
    <MotionIcon />
  </li>
</ul>