@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen w-full;
  }
}

@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/MerriweatherSans-VariableFont_wght.ttf') format('tff');
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('tff');
}

.link {
  @apply text-2xl md:text-3xl lg:text-4xl w-full text-center lg:w-full font-merriweather font-extrabold text-white skew-x-6 -skew-y-6 tracking-wider border-2 border-blue-500 p-2 md:p-4 lg:p-2 transition-all cursor-pointer duration-300 hover:scale-105 hover:skew-x-0 hover:skew-y-6 hover:bg-blue-500 hover:border-white
}

